body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f9fa;
}

.container {
    width: 100%;
    max-width: 1200px; 
    padding: 20px; 
}

.card {
    margin-top: 200px;
    padding: 60px; 
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgb(144, 35, 140,);
}

.card-title {
    margin-top: 80px;
    background-color: #6a256f;
    color: white;
    padding: 60px; 
    border-radius: 15px;
    font-size: 2rem; 
    
}

.card-body {
    margin-top: 70px;
    padding: 40px; 
    font-size: 3rem;
}

.home-icon {
    font-size: 10em; 
    margin-top: 20px;
}
